################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MediatR_CQRS/.vs/MediatR_CQRS/v17/.wsuo
/MediatR_CQRS/.vs/MediatR_CQRS/v17/DocumentLayout.json
/MediatR_CQRS/.vs/SuperTrader
/MediatR_CQRS/.vs/SuperTrader/v16
/MediatR_CQRS/.vs/SuperTrader/v16/.suo
/MediatR_CQRS/.vs/SuperTrader/v17
/MediatR_CQRS/.vs/SuperTrader/v17/.suo
/MediatR_CQRS/SuperTrader.Domain/bin/Debug/net8.0/SuperTrader.Domain.deps.json
/MediatR_CQRS/SuperTrader.Domain/bin/Debug/net8.0/SuperTrader.Domain.dll
/MediatR_CQRS/SuperTrader.Domain/bin/Debug/net8.0/SuperTrader.Domain.exe
/MediatR_CQRS/SuperTrader.Domain/bin/Debug/net8.0/SuperTrader.Domain.pdb
/MediatR_CQRS/SuperTrader.Domain/bin/Debug/net8.0/SuperTrader.Domain.runtimeconfig.json
/MediatR_CQRS/SuperTrader.Domain/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/MediatR_CQRS/SuperTrader.Domain/obj/Debug/net8.0/apphost.exe
/MediatR_CQRS/SuperTrader.Domain/obj/Debug/net8.0/ref/SuperTrader.Domain.dll
/MediatR_CQRS/SuperTrader.Domain/obj/Debug/net8.0/refint/SuperTrader.Domain.dll
/MediatR_CQRS/SuperTrader.Domain/obj/Debug/net8.0/SuperTrader.Domain.AssemblyInfo.cs
/MediatR_CQRS/SuperTrader.Domain/obj/Debug/net8.0/SuperTrader.Domain.AssemblyInfoInputs.cache
/MediatR_CQRS/SuperTrader.Domain/obj/Debug/net8.0/SuperTrader.Domain.assets.cache
/MediatR_CQRS/SuperTrader.Domain/obj/Debug/net8.0/SuperTrader.Domain.csproj.CoreCompileInputs.cache
/MediatR_CQRS/SuperTrader.Domain/obj/Debug/net8.0/SuperTrader.Domain.csproj.FileListAbsolute.txt
/MediatR_CQRS/SuperTrader.Domain/obj/Debug/net8.0/SuperTrader.Domain.dll
/MediatR_CQRS/SuperTrader.Domain/obj/Debug/net8.0/SuperTrader.Domain.GeneratedMSBuildEditorConfig.editorconfig
/MediatR_CQRS/SuperTrader.Domain/obj/Debug/net8.0/SuperTrader.Domain.genruntimeconfig.cache
/MediatR_CQRS/SuperTrader.Domain/obj/Debug/net8.0/SuperTrader.Domain.GlobalUsings.g.cs
/MediatR_CQRS/SuperTrader.Domain/obj/Debug/net8.0/SuperTrader.Domain.pdb
/MediatR_CQRS/SuperTrader.Domain/obj/Debug/net8.0/SuperTrader.Domain.sourcelink.json
/MediatR_CQRS/SuperTrader.Wepapi/bin/Debug/net8.0/appsettings.Development.json
/MediatR_CQRS/SuperTrader.Wepapi/bin/Debug/net8.0/appsettings.json
/MediatR_CQRS/SuperTrader.Wepapi/bin/Debug/net8.0/Microsoft.OpenApi.dll
/MediatR_CQRS/SuperTrader.Wepapi/bin/Debug/net8.0/SuperTrader.Wepapi.deps.json
/MediatR_CQRS/SuperTrader.Wepapi/bin/Debug/net8.0/SuperTrader.Wepapi.dll
/MediatR_CQRS/SuperTrader.Wepapi/bin/Debug/net8.0/SuperTrader.Wepapi.exe
/MediatR_CQRS/SuperTrader.Wepapi/bin/Debug/net8.0/SuperTrader.Wepapi.pdb
/MediatR_CQRS/SuperTrader.Wepapi/bin/Debug/net8.0/SuperTrader.Wepapi.runtimeconfig.json
/MediatR_CQRS/SuperTrader.Wepapi/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
/MediatR_CQRS/SuperTrader.Wepapi/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/MediatR_CQRS/SuperTrader.Wepapi/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/MediatR_CQRS/SuperTrader.Wepapi/obj
/MediatR_CQRS/SuperTrader.Wepapi/obj/Debug/net8.0
/MediatR_CQRS/SuperTrader.Wepapi/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/MediatR_CQRS/SuperTrader.Wepapi/obj/Debug/net8.0/apphost.exe
/MediatR_CQRS/SuperTrader.Wepapi/obj/Debug/net8.0/ref
/MediatR_CQRS/SuperTrader.Wepapi/obj/Debug/net8.0/ref/SuperTrader.Wepapi.dll
/MediatR_CQRS/SuperTrader.Wepapi/obj/Debug/net8.0/refint
/MediatR_CQRS/SuperTrader.Wepapi/obj/Debug/net8.0/refint/SuperTrader.Wepapi.dll
/MediatR_CQRS/SuperTrader.Wepapi/obj/Debug/net8.0/staticwebassets
/MediatR_CQRS/SuperTrader.Wepapi/obj/Debug/net8.0/staticwebassets/msbuild.build.SuperTrader.Wepapi.props
/MediatR_CQRS/SuperTrader.Wepapi/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.SuperTrader.Wepapi.props
/MediatR_CQRS/SuperTrader.Wepapi/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.SuperTrader.Wepapi.props
/MediatR_CQRS/SuperTrader.Wepapi/obj/Debug/net8.0/staticwebassets.build.json
/MediatR_CQRS/SuperTrader.Wepapi/obj/Debug/net8.0/SuperTra.364B0617.Up2Date
/MediatR_CQRS/SuperTrader.Wepapi/obj/Debug/net8.0/SuperTrader.Wepapi.AssemblyInfo.cs
/MediatR_CQRS/SuperTrader.Domain/obj/project.assets.json
/MediatR_CQRS/SuperTrader.Wepapi/obj/Debug/net8.0/SuperTrader.Wepapi.AssemblyInfoInputs.cache
/MediatR_CQRS/SuperTrader.Wepapi/obj/Debug/net8.0/SuperTrader.Wepapi.assets.cache
/MediatR_CQRS/SuperTrader.Wepapi/obj/Debug/net8.0/SuperTrader.Wepapi.csproj.AssemblyReference.cache
/MediatR_CQRS/SuperTrader.Wepapi/obj/Debug/net8.0/SuperTrader.Wepapi.csproj.CoreCompileInputs.cache
/MediatR_CQRS/SuperTrader.Wepapi/obj/Debug/net8.0/SuperTrader.Wepapi.csproj.FileListAbsolute.txt
/MediatR_CQRS/SuperTrader.Wepapi/obj/Debug/net8.0/SuperTrader.Wepapi.dll
/MediatR_CQRS/SuperTrader.Wepapi/obj/Debug/net8.0/SuperTrader.Wepapi.GeneratedMSBuildEditorConfig.editorconfig
/MediatR_CQRS/SuperTrader.Wepapi/obj/Debug/net8.0/SuperTrader.Wepapi.genruntimeconfig.cache
/MediatR_CQRS/SuperTrader.Wepapi/obj/Debug/net8.0/SuperTrader.Wepapi.GlobalUsings.g.cs
/MediatR_CQRS/SuperTrader.Wepapi/obj/Debug/net8.0/SuperTrader.Wepapi.MvcApplicationPartsAssemblyInfo.cache
/MediatR_CQRS/SuperTrader.Wepapi/obj/Debug/net8.0/SuperTrader.Wepapi.MvcApplicationPartsAssemblyInfo.cs
/MediatR_CQRS/SuperTrader.Wepapi/obj/Debug/net8.0/SuperTrader.Wepapi.pdb
/MediatR_CQRS/SuperTrader.Wepapi/obj/Debug/net8.0/SuperTrader.Wepapi.sourcelink.json
/MediatR_CQRS/SuperTrader.Domain/obj/project.nuget.cache
/MediatR_CQRS/SuperTrader.Domain/obj/SuperTrader.Domain.csproj.nuget.dgspec.json
/MediatR_CQRS/SuperTrader.Domain/obj/SuperTrader.Domain.csproj.nuget.g.props
/MediatR_CQRS/SuperTrader.Domain/obj/SuperTrader.Domain.csproj.nuget.g.targets
/MediatR_CQRS/SuperTrader.Wepapi/Properties/launchSettings.json
/Service_AOP/.vs/ProjectEvaluation/supertrader.metadata.v8.bin
/Service_AOP/.vs/ProjectEvaluation/supertrader.projects.v8.bin
/Service_AOP/.vs/ProjectEvaluation/supertrader.strings.v8.bin
/Service_AOP/.vs/SuperTrader
/Service_AOP/.vs/SuperTrader/DesignTimeBuild
/Service_AOP/.vs/SuperTrader/DesignTimeBuild/.dtbcache.v2
/Service_AOP/.vs/SuperTrader/v16
/Service_AOP/.vs/SuperTrader/v16/.suo
/Service_AOP/.vs/SuperTrader/v17
/Service_AOP/.vs/SuperTrader/v17/.futdcache.v2
/Service_AOP/.vs/SuperTrader/v17/.suo
/Service_AOP/SuperTrader.Core/.vs/SuperTrader.Core/v16/.suo
/MediatR_CQRS/.vs/ProjectEvaluation/supertrader.metadata.v8.bin
/MediatR_CQRS/.vs/ProjectEvaluation/supertrader.projects.v8.bin
/MediatR_CQRS/.vs/ProjectEvaluation/supertrader.strings.v8.bin
/MediatR_CQRS/Data.Repository/bin/Debug/net8.0/SuperTrader.Domain.dll
/MediatR_CQRS/Data.Repository/bin/Debug/net8.0/SuperTrader.Domain.pdb
/MediatR_CQRS/SuperTrader.Domain/bin/Debug/net8.0/SuperTrader.Core.dll
/MediatR_CQRS/SuperTrader.Domain/bin/Debug/net8.0/SuperTrader.Core.pdb
/MediatR_CQRS/SuperTrader.Domain/obj/Debug/net8.0/SuperTra.8B50C21A.Up2Date
/MediatR_CQRS/SuperTrader.Domain/obj/Debug/net8.0/SuperTrader.Domain.csproj.AssemblyReference.cache
/MediatR_CQRS/SuperTrader.Wepapi/bin/Debug/net8.0/runtimes/unix/lib/net6.0/Microsoft.Data.SqlClient.dll
/MediatR_CQRS/SuperTrader.Wepapi/bin/Debug/net8.0/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
/MediatR_CQRS/SuperTrader.Wepapi/bin/Debug/net8.0/runtimes/win/lib/net6.0
/MediatR_CQRS/SuperTrader.Wepapi/bin/Debug/net8.0/runtimes/win/lib/net6.0/Microsoft.Data.SqlClient.dll
/MediatR_CQRS/SuperTrader.Wepapi/bin/Debug/net8.0/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
/MediatR_CQRS/SuperTrader.Wepapi/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Drawing.Common.dll
/MediatR_CQRS/SuperTrader.Wepapi/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Runtime.Caching.dll
/MediatR_CQRS/SuperTrader.Wepapi/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
/MediatR_CQRS/SuperTrader.Wepapi/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
/MediatR_CQRS/SuperTrader.Wepapi/bin/Debug/net8.0/runtimes/win-arm/native
/MediatR_CQRS/SuperTrader.Wepapi/bin/Debug/net8.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
/MediatR_CQRS/SuperTrader.Wepapi/bin/Debug/net8.0/Azure.Core.dll
/MediatR_CQRS/SuperTrader.Wepapi/bin/Debug/net8.0/Azure.Identity.dll
/MediatR_CQRS/SuperTrader.Wepapi/bin/Debug/net8.0/Data.Repository.dll
/MediatR_CQRS/SuperTrader.Wepapi/bin/Debug/net8.0/Data.Repository.pdb
/MediatR_CQRS/SuperTrader.Wepapi/bin/Debug/net8.0/Microsoft.Bcl.AsyncInterfaces.dll
/MediatR_CQRS/SuperTrader.Wepapi/bin/Debug/net8.0/Microsoft.Data.SqlClient.dll
/MediatR_CQRS/SuperTrader.Wepapi/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/MediatR_CQRS/SuperTrader.Wepapi/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.dll
/MediatR_CQRS/SuperTrader.Wepapi/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Relational.dll
/MediatR_CQRS/SuperTrader.Wepapi/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.SqlServer.dll
/MediatR_CQRS/SuperTrader.Wepapi/bin/Debug/net8.0/Microsoft.Identity.Client.dll
/MediatR_CQRS/SuperTrader.Wepapi/bin/Debug/net8.0/Microsoft.Identity.Client.Extensions.Msal.dll
/MediatR_CQRS/SuperTrader.Wepapi/bin/Debug/net8.0/Microsoft.IdentityModel.Abstractions.dll
/MediatR_CQRS/SuperTrader.Wepapi/bin/Debug/net8.0/Microsoft.IdentityModel.JsonWebTokens.dll
/MediatR_CQRS/SuperTrader.Wepapi/bin/Debug/net8.0/Microsoft.IdentityModel.Logging.dll
/MediatR_CQRS/SuperTrader.Wepapi/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.dll
/MediatR_CQRS/SuperTrader.Wepapi/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/MediatR_CQRS/SuperTrader.Wepapi/bin/Debug/net8.0/Microsoft.IdentityModel.Tokens.dll
/MediatR_CQRS/SuperTrader.Wepapi/bin/Debug/net8.0/Microsoft.SqlServer.Server.dll
/MediatR_CQRS/SuperTrader.Wepapi/bin/Debug/net8.0/Microsoft.Win32.SystemEvents.dll
/MediatR_CQRS/SuperTrader.Wepapi/bin/Debug/net8.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
/MediatR_CQRS/SuperTrader.Wepapi/bin/Debug/net8.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
/MediatR_CQRS/SuperTrader.Wepapi/bin/Debug/net8.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
/MediatR_CQRS/SuperTrader.Wepapi/bin/Debug/net8.0/SuperTrader.Core.dll
/MediatR_CQRS/SuperTrader.Wepapi/bin/Debug/net8.0/SuperTrader.Core.pdb
/MediatR_CQRS/SuperTrader.Wepapi/bin/Debug/net8.0/SuperTrader.Domain.dll
/MediatR_CQRS/SuperTrader.Wepapi/bin/Debug/net8.0/SuperTrader.Domain.pdb
/MediatR_CQRS/SuperTrader.Wepapi/bin/Debug/net8.0/System.Configuration.ConfigurationManager.dll
/MediatR_CQRS/SuperTrader.Wepapi/bin/Debug/net8.0/System.Drawing.Common.dll
/MediatR_CQRS/SuperTrader.Wepapi/bin/Debug/net8.0/System.IdentityModel.Tokens.Jwt.dll
/MediatR_CQRS/SuperTrader.Wepapi/bin/Debug/net8.0/System.Memory.Data.dll
/MediatR_CQRS/SuperTrader.Wepapi/bin/Debug/net8.0/System.Runtime.Caching.dll
/MediatR_CQRS/SuperTrader.Wepapi/bin/Debug/net8.0/System.Security.Cryptography.ProtectedData.dll
/MediatR_CQRS/SuperTrader.Wepapi/bin/Debug/net8.0/System.Security.Permissions.dll
/MediatR_CQRS/SuperTrader.Wepapi/bin/Debug/net8.0/System.Windows.Extensions.dll
/MediatR_CQRS/SuperTrader.Service/bin/Debug/net8.0/SuperTrader.Service.deps.json
/MediatR_CQRS/SuperTrader.Service/bin/Debug/net8.0/SuperTrader.Service.dll
/MediatR_CQRS/SuperTrader.Service/bin/Debug/net8.0/SuperTrader.Service.pdb
/MediatR_CQRS/SuperTrader.Service/obj
/MediatR_CQRS/SuperTrader.Service/obj/Debug/net8.0
/MediatR_CQRS/SuperTrader.Service/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/MediatR_CQRS/SuperTrader.Service/obj/Debug/net8.0/ref
/MediatR_CQRS/SuperTrader.Service/obj/Debug/net8.0/ref/SuperTrader.Service.dll
/MediatR_CQRS/SuperTrader.Service/obj/Debug/net8.0/refint
/MediatR_CQRS/SuperTrader.Service/obj/Debug/net8.0/refint/SuperTrader.Service.dll
/MediatR_CQRS/SuperTrader.Service/obj/Debug/net8.0/SuperTrader.Service.AssemblyInfo.cs
/MediatR_CQRS/SuperTrader.Service/obj/Debug/net8.0/SuperTrader.Service.AssemblyInfoInputs.cache
/MediatR_CQRS/SuperTrader.Service/obj/Debug/net8.0/SuperTrader.Service.assets.cache
/MediatR_CQRS/SuperTrader.Service/obj/Debug/net8.0/SuperTrader.Service.csproj.CoreCompileInputs.cache
/MediatR_CQRS/SuperTrader.Service/obj/Debug/net8.0/SuperTrader.Service.csproj.FileListAbsolute.txt
/MediatR_CQRS/SuperTrader.Service/obj/Debug/net8.0/SuperTrader.Service.dll
/MediatR_CQRS/SuperTrader.Service/obj/Debug/net8.0/SuperTrader.Service.GeneratedMSBuildEditorConfig.editorconfig
/MediatR_CQRS/SuperTrader.Service/obj/Debug/net8.0/SuperTrader.Service.GlobalUsings.g.cs
/MediatR_CQRS/SuperTrader.Service/obj/Debug/net8.0/SuperTrader.Service.pdb
/MediatR_CQRS/SuperTrader.Service/obj/Debug/net8.0/SuperTrader.Service.sourcelink.json
/MediatR_CQRS/SuperTrader.Service/obj/project.assets.json
/MediatR_CQRS/SuperTrader.Service/obj/project.nuget.cache
/MediatR_CQRS/SuperTrader.Service/obj/SuperTrader.Service.csproj.nuget.dgspec.json
/MediatR_CQRS/SuperTrader.Service/obj/SuperTrader.Service.csproj.nuget.g.props
/MediatR_CQRS/SuperTrader.Service/obj/SuperTrader.Service.csproj.nuget.g.targets
