################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MediatR_CQRS/.vs/MediatR_CQRS/v17/.wsuo
/MediatR_CQRS/.vs/MediatR_CQRS/v17/DocumentLayout.json
/MediatR_CQRS/.vs/SuperTrader
/MediatR_CQRS/.vs/SuperTrader/v16
/MediatR_CQRS/.vs/SuperTrader/v16/.suo
/MediatR_CQRS/.vs/SuperTrader/v17
/MediatR_CQRS/.vs/SuperTrader/v17/.suo
/MediatR_CQRS/SuperTrader.Domain/bin/Debug/net8.0/SuperTrader.Domain.deps.json
/MediatR_CQRS/SuperTrader.Domain/bin/Debug/net8.0/SuperTrader.Domain.dll
/MediatR_CQRS/SuperTrader.Domain/bin/Debug/net8.0/SuperTrader.Domain.exe
/MediatR_CQRS/SuperTrader.Domain/bin/Debug/net8.0/SuperTrader.Domain.pdb
/MediatR_CQRS/SuperTrader.Domain/bin/Debug/net8.0/SuperTrader.Domain.runtimeconfig.json
/MediatR_CQRS/SuperTrader.Domain/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/MediatR_CQRS/SuperTrader.Domain/obj/Debug/net8.0/apphost.exe
/MediatR_CQRS/SuperTrader.Domain/obj/Debug/net8.0/ref/SuperTrader.Domain.dll
/MediatR_CQRS/SuperTrader.Domain/obj/Debug/net8.0/refint/SuperTrader.Domain.dll
/MediatR_CQRS/SuperTrader.Domain/obj/Debug/net8.0/SuperTrader.Domain.AssemblyInfo.cs
/MediatR_CQRS/SuperTrader.Domain/obj/Debug/net8.0/SuperTrader.Domain.AssemblyInfoInputs.cache
/MediatR_CQRS/SuperTrader.Domain/obj/Debug/net8.0/SuperTrader.Domain.assets.cache
/MediatR_CQRS/SuperTrader.Domain/obj/Debug/net8.0/SuperTrader.Domain.csproj.CoreCompileInputs.cache
/MediatR_CQRS/SuperTrader.Domain/obj/Debug/net8.0/SuperTrader.Domain.csproj.FileListAbsolute.txt
/MediatR_CQRS/SuperTrader.Domain/obj/Debug/net8.0/SuperTrader.Domain.dll
/MediatR_CQRS/SuperTrader.Domain/obj/Debug/net8.0/SuperTrader.Domain.GeneratedMSBuildEditorConfig.editorconfig
/MediatR_CQRS/SuperTrader.Domain/obj/Debug/net8.0/SuperTrader.Domain.genruntimeconfig.cache
/MediatR_CQRS/SuperTrader.Domain/obj/Debug/net8.0/SuperTrader.Domain.GlobalUsings.g.cs
/MediatR_CQRS/SuperTrader.Domain/obj/Debug/net8.0/SuperTrader.Domain.pdb
/MediatR_CQRS/SuperTrader.Domain/obj/Debug/net8.0/SuperTrader.Domain.sourcelink.json
/MediatR_CQRS/SuperTrader.Wepapi/bin/Debug/net8.0/appsettings.Development.json
/MediatR_CQRS/SuperTrader.Wepapi/bin/Debug/net8.0/appsettings.json
/MediatR_CQRS/SuperTrader.Wepapi/bin/Debug/net8.0/Microsoft.OpenApi.dll
/MediatR_CQRS/SuperTrader.Wepapi/bin/Debug/net8.0/SuperTrader.Wepapi.deps.json
/MediatR_CQRS/SuperTrader.Wepapi/bin/Debug/net8.0/SuperTrader.Wepapi.dll
/MediatR_CQRS/SuperTrader.Wepapi/bin/Debug/net8.0/SuperTrader.Wepapi.exe
/MediatR_CQRS/SuperTrader.Wepapi/bin/Debug/net8.0/SuperTrader.Wepapi.pdb
/MediatR_CQRS/SuperTrader.Wepapi/bin/Debug/net8.0/SuperTrader.Wepapi.runtimeconfig.json
/MediatR_CQRS/SuperTrader.Wepapi/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
/MediatR_CQRS/SuperTrader.Wepapi/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/MediatR_CQRS/SuperTrader.Wepapi/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/MediatR_CQRS/SuperTrader.Wepapi/obj
/MediatR_CQRS/SuperTrader.Wepapi/obj/Debug/net8.0
/MediatR_CQRS/SuperTrader.Wepapi/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/MediatR_CQRS/SuperTrader.Wepapi/obj/Debug/net8.0/apphost.exe
/MediatR_CQRS/SuperTrader.Wepapi/obj/Debug/net8.0/ref
/MediatR_CQRS/SuperTrader.Wepapi/obj/Debug/net8.0/ref/SuperTrader.Wepapi.dll
/MediatR_CQRS/SuperTrader.Wepapi/obj/Debug/net8.0/refint
/MediatR_CQRS/SuperTrader.Wepapi/obj/Debug/net8.0/refint/SuperTrader.Wepapi.dll
/MediatR_CQRS/SuperTrader.Wepapi/obj/Debug/net8.0/staticwebassets
/MediatR_CQRS/SuperTrader.Wepapi/obj/Debug/net8.0/staticwebassets/msbuild.build.SuperTrader.Wepapi.props
/MediatR_CQRS/SuperTrader.Wepapi/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.SuperTrader.Wepapi.props
/MediatR_CQRS/SuperTrader.Wepapi/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.SuperTrader.Wepapi.props
/MediatR_CQRS/SuperTrader.Wepapi/obj/Debug/net8.0/staticwebassets.build.json
/MediatR_CQRS/SuperTrader.Wepapi/obj/Debug/net8.0/SuperTra.364B0617.Up2Date
/MediatR_CQRS/SuperTrader.Wepapi/obj/Debug/net8.0/SuperTrader.Wepapi.AssemblyInfo.cs
/MediatR_CQRS/SuperTrader.Domain/obj/project.assets.json
/MediatR_CQRS/SuperTrader.Wepapi/obj/Debug/net8.0/SuperTrader.Wepapi.AssemblyInfoInputs.cache
/MediatR_CQRS/SuperTrader.Wepapi/obj/Debug/net8.0/SuperTrader.Wepapi.assets.cache
/MediatR_CQRS/SuperTrader.Wepapi/obj/Debug/net8.0/SuperTrader.Wepapi.csproj.AssemblyReference.cache
/MediatR_CQRS/SuperTrader.Wepapi/obj/Debug/net8.0/SuperTrader.Wepapi.csproj.CoreCompileInputs.cache
/MediatR_CQRS/SuperTrader.Wepapi/obj/Debug/net8.0/SuperTrader.Wepapi.csproj.FileListAbsolute.txt
/MediatR_CQRS/SuperTrader.Wepapi/obj/Debug/net8.0/SuperTrader.Wepapi.dll
/MediatR_CQRS/SuperTrader.Wepapi/obj/Debug/net8.0/SuperTrader.Wepapi.GeneratedMSBuildEditorConfig.editorconfig
/MediatR_CQRS/SuperTrader.Wepapi/obj/Debug/net8.0/SuperTrader.Wepapi.genruntimeconfig.cache
/MediatR_CQRS/SuperTrader.Wepapi/obj/Debug/net8.0/SuperTrader.Wepapi.GlobalUsings.g.cs
/MediatR_CQRS/SuperTrader.Wepapi/obj/Debug/net8.0/SuperTrader.Wepapi.MvcApplicationPartsAssemblyInfo.cache
/MediatR_CQRS/SuperTrader.Wepapi/obj/Debug/net8.0/SuperTrader.Wepapi.MvcApplicationPartsAssemblyInfo.cs
/MediatR_CQRS/SuperTrader.Wepapi/obj/Debug/net8.0/SuperTrader.Wepapi.pdb
/MediatR_CQRS/SuperTrader.Wepapi/obj/Debug/net8.0/SuperTrader.Wepapi.sourcelink.json
/MediatR_CQRS/SuperTrader.Domain/obj/project.nuget.cache
/MediatR_CQRS/SuperTrader.Domain/obj/SuperTrader.Domain.csproj.nuget.dgspec.json
/MediatR_CQRS/SuperTrader.Domain/obj/SuperTrader.Domain.csproj.nuget.g.props
/MediatR_CQRS/SuperTrader.Domain/obj/SuperTrader.Domain.csproj.nuget.g.targets
/MediatR_CQRS/SuperTrader.Wepapi/Properties/launchSettings.json
/Service_AOP/.vs/ProjectEvaluation/supertrader.metadata.v8.bin
/Service_AOP/.vs/ProjectEvaluation/supertrader.projects.v8.bin
/Service_AOP/.vs/ProjectEvaluation/supertrader.strings.v8.bin
/Service_AOP/.vs/SuperTrader
/Service_AOP/.vs/SuperTrader/DesignTimeBuild
/Service_AOP/.vs/SuperTrader/DesignTimeBuild/.dtbcache.v2
/Service_AOP/.vs/SuperTrader/v16
/Service_AOP/.vs/SuperTrader/v16/.suo
/Service_AOP/.vs/SuperTrader/v17
/Service_AOP/.vs/SuperTrader/v17/.futdcache.v2
/Service_AOP/.vs/SuperTrader/v17/.suo
/Service_AOP/SuperTrader.Core/.vs/SuperTrader.Core/v16/.suo
