################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Data.Entities/bin/Debug/net8.0/Data.Entities.deps.json
/Data.Entities/bin/Debug/net8.0/Data.Entities.dll
/Data.Entities/bin/Debug/net8.0/Data.Entities.pdb
/Data.Entities/bin/Debug/net8.0/SuperTrader.Core.dll
/Data.Entities/bin/Debug/net8.0/SuperTrader.Core.pdb
/Data.Entities/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/Data.Entities/obj/Debug/net5.0/Data.Entities.AssemblyInfo.cs
/Data.Entities/obj/Debug/net5.0/Data.Entities.AssemblyInfoInputs.cache
/Data.Entities/obj/Debug/net5.0/Data.Entities.assets.cache
/Data.Entities/obj/Debug/net5.0/Data.Entities.csproj.AssemblyReference.cache
/Data.Entities/obj/Debug/net5.0/Data.Entities.GeneratedMSBuildEditorConfig.editorconfig
/Data.Entities/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Data.Entities/obj/Debug/net8.0/Data.Ent.79CD9B2F.Up2Date
/Data.Entities/obj/Debug/net8.0/Data.Entities.AssemblyInfo.cs
/Data.Entities/obj/Debug/net8.0/Data.Entities.AssemblyInfoInputs.cache
/Data.Entities/obj/Debug/net8.0/Data.Entities.assets.cache
/Data.Entities/obj/Debug/net8.0/Data.Entities.csproj.AssemblyReference.cache
/Data.Entities/obj/Debug/net8.0/Data.Entities.csproj.BuildWithSkipAnalyzers
/Data.Entities/obj/Debug/net8.0/Data.Entities.csproj.CoreCompileInputs.cache
/Data.Entities/obj/Debug/net8.0/Data.Entities.csproj.FileListAbsolute.txt
/Data.Entities/obj/Debug/net8.0/Data.Entities.dll
/Data.Entities/obj/Debug/net8.0/Data.Entities.GeneratedMSBuildEditorConfig.editorconfig
/Data.Entities/obj/Debug/net8.0/Data.Entities.pdb
/Data.Entities/obj/Debug/net8.0/ref/Data.Entities.dll
/Data.Entities/obj/Debug/net8.0/refint/Data.Entities.dll
/Data.Entities/obj/Data.Entities.csproj.nuget.dgspec.json
/Data.Entities/obj/Data.Entities.csproj.nuget.g.props
/Data.Entities/obj/Data.Entities.csproj.nuget.g.targets
/Data.Entities/obj/project.assets.json
/Data.Entities/obj/project.nuget.cache
/Data.Repository/bin/Debug/net8.0/Data.Entities.dll
/Data.Repository/bin/Debug/net8.0/Data.Entities.pdb
/Data.Repository/bin/Debug/net8.0/Data.Repository.deps.json
/Data.Repository/bin/Debug/net8.0/Data.Repository.dll
/Data.Repository/bin/Debug/net8.0/Data.Repository.pdb
/Data.Repository/bin/Debug/net8.0/Data.Repository.runtimeconfig.json
/Data.Repository/bin/Debug/net8.0/SuperTrader.Core.dll
/Data.Repository/bin/Debug/net8.0/SuperTrader.Core.pdb
/Data.Repository/obj/Debug/net8.0/Data.Rep.ED3C85B5.Up2Date
/Data.Repository/obj/Debug/net8.0/Data.Repository.AssemblyInfo.cs
/Data.Repository/obj/Debug/net8.0/Data.Repository.AssemblyInfoInputs.cache
/Data.Repository/obj/Debug/net8.0/Data.Repository.assets.cache
/Data.Repository/obj/Debug/net8.0/Data.Repository.csproj.AssemblyReference.cache
/Data.Repository/obj/Debug/net8.0/Data.Repository.csproj.BuildWithSkipAnalyzers
/Data.Repository/obj/Debug/net8.0/Data.Repository.csproj.CoreCompileInputs.cache
/Data.Repository/obj/Debug/net8.0/Data.Repository.csproj.FileListAbsolute.txt
/Data.Repository/obj/Debug/net8.0/Data.Repository.dll
/Data.Repository/obj/Debug/net8.0/Data.Repository.GeneratedMSBuildEditorConfig.editorconfig
/Data.Repository/obj/Debug/net8.0/Data.Repository.genruntimeconfig.cache
/Data.Repository/obj/Debug/net8.0/Data.Repository.pdb
/Data.Repository/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/Data.Repository/obj/Debug/net5.0/Data.Repository.AssemblyInfo.cs
/Data.Repository/obj/Debug/net5.0/Data.Repository.AssemblyInfoInputs.cache
/Data.Repository/obj/Debug/net5.0/Data.Repository.assets.cache
/Data.Repository/obj/Debug/net5.0/Data.Repository.csproj.AssemblyReference.cache
/Data.Repository/obj/Debug/net5.0/Data.Repository.GeneratedMSBuildEditorConfig.editorconfig
/Data.Repository/obj/Debug/net8.0/ref/Data.Repository.dll
/Data.Repository/obj/Debug/net8.0/refint/Data.Repository.dll
/Data.Repository/obj/project.nuget.cache
/Data.Repository/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/SuperTrader.Core/.vs/SuperTrader.Core/copilot-chat/f753603d/sessions/86c29d1d-1e77-4d61-8c6b-16ab384b3e76
/SuperTrader.Core/.vs/SuperTrader.Core/DesignTimeBuild/.dtbcache.v2
/SuperTrader.Core/.vs/SuperTrader.Core/FileContentIndex/04ea6d8e-6db3-44e4-a017-9c5a21e018ed.vsidx
/SuperTrader.Core/.vs/SuperTrader.Core/FileContentIndex/1daf59ca-2fd4-47fd-8c6f-b03710583bb6.vsidx
/SuperTrader.Core/.vs/SuperTrader.Core/FileContentIndex/41c3c567-22e8-409b-b9b8-dc898eded297.vsidx
/SuperTrader.Core/.vs/SuperTrader.Core/FileContentIndex/6243c8c9-e25c-479e-a9b6-e91c6f120946.vsidx
/SuperTrader.Core/.vs/SuperTrader.Core/FileContentIndex/cc8c801e-f4bd-44f2-8b8f-5e73621f3a02.vsidx
/SuperTrader.Core/.vs/SuperTrader.Core/FileContentIndex/eca9421b-8375-4933-a373-93f20d15ba75.vsidx
/SuperTrader.Core/bin/Debug/net5.0/SuperTrader.Core.deps.json
/SuperTrader.Core/bin/Debug/net5.0/SuperTrader.Core.dll
/SuperTrader.Core/bin/Debug/net5.0/SuperTrader.Core.pdb
/SuperTrader.Core/bin/Debug/net5.0/SuperTrader.Core.runtimeconfig.dev.json
/SuperTrader.Core/bin/Debug/net5.0/SuperTrader.Core.runtimeconfig.json
/SuperTrader.Core/bin/Debug/net8.0/SuperTrader.Core.deps.json
/SuperTrader.Core/bin/Debug/net8.0/SuperTrader.Core.dll
/SuperTrader.Core/bin/Debug/net8.0/SuperTrader.Core.pdb
/SuperTrader.Core/.vs/ProjectEvaluation/supertrader.core.metadata.v7.bin
/SuperTrader.Core/.vs/ProjectEvaluation/supertrader.core.projects.v7.bin
/SuperTrader.Core/.vs/SuperTrader.Core/v17/.futdcache.v2
/SuperTrader.Core/.vs/SuperTrader.Core/v17/.suo
/SuperTrader.Core/.vs/SuperTrader.Core/v17/DocumentLayout.json
/SuperTrader.Core/.vs/SuperTrader.Core/config/applicationhost.config
/SuperTrader.Core/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/SuperTrader.Core/obj/Debug/net5.0/SuperTrader.Core.AssemblyInfo.cs
/SuperTrader.Core/obj/Debug/net5.0/SuperTrader.Core.AssemblyInfoInputs.cache
/SuperTrader.Core/obj/Debug/net5.0/SuperTrader.Core.assets.cache
/SuperTrader.Core/obj/Debug/net5.0/SuperTrader.Core.csproj.AssemblyReference.cache
/SuperTrader.Core/obj/Debug/net5.0/SuperTrader.Core.csproj.CoreCompileInputs.cache
/SuperTrader.Core/obj/Debug/net5.0/SuperTrader.Core.csproj.FileListAbsolute.txt
/SuperTrader.Core/obj/Debug/net5.0/SuperTrader.Core.dll
/SuperTrader.Core/obj/Debug/net5.0/SuperTrader.Core.GeneratedMSBuildEditorConfig.editorconfig
/SuperTrader.Core/obj/Debug/net5.0/SuperTrader.Core.genruntimeconfig.cache
/SuperTrader.Core/obj/Debug/net5.0/SuperTrader.Core.pdb
/SuperTrader.Core/obj/Debug/net5.0/ref/SuperTrader.Core.dll
/SuperTrader.Core/obj/Debug/net5.0/refint/SuperTrader.Core.dll
/SuperTrader.Core/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/SuperTrader.Core/obj/Debug/net8.0/ref/SuperTrader.Core.dll
/SuperTrader.Core/obj/Debug/net8.0/refint/SuperTrader.Core.dll
/SuperTrader.Core/obj/Debug/net8.0/SuperTrader.Core.AssemblyInfo.cs
/SuperTrader.Core/obj/Debug/net8.0/SuperTrader.Core.AssemblyInfoInputs.cache
/SuperTrader.Core/obj/Debug/net8.0/SuperTrader.Core.assets.cache
/SuperTrader.Core/obj/Debug/net8.0/SuperTrader.Core.csproj.AssemblyReference.cache
/SuperTrader.Core/obj/Debug/net8.0/SuperTrader.Core.csproj.CoreCompileInputs.cache
/SuperTrader.Core/obj/Debug/net8.0/SuperTrader.Core.csproj.FileListAbsolute.txt
/SuperTrader.Core/obj/Debug/net8.0/SuperTrader.Core.dll
/SuperTrader.Core/obj/Debug/net8.0/SuperTrader.Core.GeneratedMSBuildEditorConfig.editorconfig
/SuperTrader.Core/obj/Debug/net8.0/SuperTrader.Core.pdb
/SuperTrader.Core/obj/project.assets.json
/SuperTrader.Core/obj/project.nuget.cache
/SuperTrader.Core/obj/SuperTrader.Core.csproj.nuget.dgspec.json
/SuperTrader.Core/obj/SuperTrader.Core.csproj.nuget.g.props
/SuperTrader.Core/obj/SuperTrader.Core.csproj.nuget.g.targets
/SuperTrader.WebApi/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
/SuperTrader.WebApi/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/SuperTrader.WebApi/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.resources.dll
/SuperTrader.WebApi/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
/SuperTrader.WebApi/bin/Debug/net8.0/de
/SuperTrader.WebApi/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
/SuperTrader.WebApi/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/SuperTrader.WebApi/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.resources.dll
/SuperTrader.WebApi/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
/SuperTrader.WebApi/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
/SuperTrader.WebApi/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/SuperTrader.WebApi/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.resources.dll
/SuperTrader.WebApi/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
/SuperTrader.WebApi/bin/Debug/net8.0/fr
/SuperTrader.WebApi/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
/SuperTrader.WebApi/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/SuperTrader.WebApi/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.resources.dll
/SuperTrader.WebApi/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/SuperTrader.WebApi/bin/Debug/net8.0/it
/SuperTrader.WebApi/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
/SuperTrader.WebApi/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/SuperTrader.WebApi/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.resources.dll
/SuperTrader.WebApi/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
/SuperTrader.WebApi/bin/Debug/net8.0/ja
/SuperTrader.WebApi/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
/SuperTrader.WebApi/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/SuperTrader.WebApi/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.resources.dll
/SuperTrader.WebApi/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
/SuperTrader.WebApi/bin/Debug/net8.0/ko
/SuperTrader.WebApi/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
/SuperTrader.WebApi/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/SuperTrader.WebApi/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.resources.dll
/SuperTrader.WebApi/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
/SuperTrader.WebApi/bin/Debug/net8.0/pl
/SuperTrader.WebApi/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
/SuperTrader.WebApi/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/SuperTrader.WebApi/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.resources.dll
/SuperTrader.WebApi/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
/SuperTrader.WebApi/bin/Debug/net8.0/pt-BR
/SuperTrader.WebApi/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
/SuperTrader.WebApi/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/SuperTrader.WebApi/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
/SuperTrader.WebApi/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
/SuperTrader.WebApi/bin/Debug/net8.0/ru
/SuperTrader.WebApi/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
/SuperTrader.WebApi/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/SuperTrader.WebApi/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.resources.dll
/SuperTrader.WebApi/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
/SuperTrader.WebApi/bin/Debug/net8.0/appsettings.Development.json
/SuperTrader.WebApi/bin/Debug/net8.0/appsettings.json
/SuperTrader.WebApi/bin/Debug/net8.0/Autofac.dll
/SuperTrader.WebApi/bin/Debug/net8.0/Autofac.Extensions.DependencyInjection.dll
/SuperTrader.WebApi/bin/Debug/net8.0/Autofac.Extras.DynamicProxy.dll
/SuperTrader.WebApi/bin/Debug/net8.0/Azure.Core.dll
/SuperTrader.WebApi/bin/Debug/net8.0/Azure.Identity.dll
/SuperTrader.WebApi/bin/Debug/net8.0/Castle.Core.dll
/SuperTrader.WebApi/bin/Debug/net8.0/Data.Entities.dll
/SuperTrader.WebApi/bin/Debug/net8.0/Data.Entities.pdb
/SuperTrader.WebApi/bin/Debug/net8.0/Data.Repository.dll
/SuperTrader.WebApi/bin/Debug/net8.0/Data.Repository.pdb
/SuperTrader.WebApi/bin/Debug/net8.0/FluentValidation.dll
/SuperTrader.WebApi/bin/Debug/net8.0/Humanizer.dll
/SuperTrader.WebApi/bin/Debug/net8.0/Microsoft.Bcl.AsyncInterfaces.dll
/SuperTrader.WebApi/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.dll
/SuperTrader.WebApi/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
/SuperTrader.WebApi/bin/Debug/net8.0/Microsoft.CodeAnalysis.dll
/SuperTrader.WebApi/bin/Debug/net8.0/Microsoft.CodeAnalysis.Workspaces.dll
/SuperTrader.WebApi/bin/Debug/net8.0/Microsoft.Data.SqlClient.dll
/SuperTrader.WebApi/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/SuperTrader.WebApi/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Design.dll
/SuperTrader.WebApi/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.dll
/SuperTrader.WebApi/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Relational.dll
/SuperTrader.WebApi/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.SqlServer.dll
/SuperTrader.WebApi/bin/Debug/net8.0/Microsoft.Extensions.DependencyModel.dll
/SuperTrader.WebApi/bin/Debug/net8.0/Microsoft.Identity.Client.dll
/SuperTrader.WebApi/bin/Debug/net8.0/Microsoft.Identity.Client.Extensions.Msal.dll
/SuperTrader.WebApi/bin/Debug/net8.0/Microsoft.IdentityModel.Abstractions.dll
/SuperTrader.WebApi/bin/Debug/net8.0/Microsoft.IdentityModel.JsonWebTokens.dll
/SuperTrader.WebApi/bin/Debug/net8.0/Microsoft.IdentityModel.Logging.dll
/SuperTrader.WebApi/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.dll
/SuperTrader.WebApi/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/SuperTrader.WebApi/bin/Debug/net8.0/Microsoft.IdentityModel.Tokens.dll
/SuperTrader.WebApi/bin/Debug/net8.0/Microsoft.OpenApi.dll
/SuperTrader.WebApi/bin/Debug/net8.0/Microsoft.SqlServer.Server.dll
/SuperTrader.WebApi/bin/Debug/net8.0/Microsoft.Win32.SystemEvents.dll
/SuperTrader.WebApi/bin/Debug/net8.0/Mono.TextTemplating.dll
/SuperTrader.WebApi/bin/Debug/net8.0/SuperTrader.Core.dll
/SuperTrader.WebApi/bin/Debug/net8.0/SuperTrader.Core.pdb
/SuperTrader.WebApi/bin/Debug/net8.0/SuperTrader.WebApi.deps.json
/SuperTrader.WebApi/bin/Debug/net8.0/SuperTrader.WebApi.dll
/SuperTrader.WebApi/bin/Debug/net8.0/SuperTrader.WebApi.exe
/SuperTrader.WebApi/bin/Debug/net8.0/SuperTrader.WebApi.pdb
/SuperTrader.WebApi/bin/Debug/net8.0/SuperTrader.WebApi.runtimeconfig.json
/SuperTrader.WebApi/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
/SuperTrader.WebApi/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/SuperTrader.WebApi/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/SuperTrader.WebApi/bin/Debug/net8.0/System.CodeDom.dll
/SuperTrader.WebApi/bin/Debug/net8.0/System.Composition.AttributedModel.dll
/SuperTrader.WebApi/bin/Debug/net8.0/System.Composition.Convention.dll
/SuperTrader.WebApi/bin/Debug/net8.0/System.Composition.Hosting.dll
/SuperTrader.WebApi/bin/Debug/net8.0/System.Composition.Runtime.dll
/SuperTrader.WebApi/bin/Debug/net8.0/System.Composition.TypedParts.dll
/SuperTrader.WebApi/bin/Debug/net8.0/System.Configuration.ConfigurationManager.dll
/SuperTrader.WebApi/bin/Debug/net8.0/System.Drawing.Common.dll
/SuperTrader.WebApi/bin/Debug/net8.0/System.IdentityModel.Tokens.Jwt.dll
/SuperTrader.WebApi/bin/Debug/net8.0/System.Memory.Data.dll
/SuperTrader.WebApi/bin/Debug/net8.0/System.Runtime.Caching.dll
/SuperTrader.WebApi/bin/Debug/net8.0/System.Security.Cryptography.ProtectedData.dll
/SuperTrader.WebApi/bin/Debug/net8.0/System.Security.Permissions.dll
/SuperTrader.WebApi/bin/Debug/net8.0/System.Windows.Extensions.dll
/SuperTrader.WebApi/bin/Debug/net8.0/runtimes/unix/lib/net6.0/Microsoft.Data.SqlClient.dll
/SuperTrader.WebApi/bin/Debug/net8.0/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
/SuperTrader.WebApi/bin/Debug/net8.0/runtimes/win/lib/net6.0
/SuperTrader.WebApi/bin/Debug/net8.0/runtimes/win/lib/net6.0/Microsoft.Data.SqlClient.dll
/SuperTrader.WebApi/bin/Debug/net8.0/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
/SuperTrader.WebApi/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Drawing.Common.dll
/SuperTrader.WebApi/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Runtime.Caching.dll
/SuperTrader.WebApi/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
/SuperTrader.WebApi/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
/SuperTrader.WebApi/bin/Debug/net8.0/runtimes/win-arm/native
/SuperTrader.WebApi/bin/Debug/net8.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
/SuperTrader.WebApi/bin/Debug/net8.0/runtimes/win-arm64/native
/SuperTrader.WebApi/bin/Debug/net8.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
/SuperTrader.WebApi/bin/Debug/net8.0/runtimes/win-x64/native
/SuperTrader.WebApi/bin/Debug/net8.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
/SuperTrader.WebApi/bin/Debug/net8.0/runtimes/win-x86/native
/SuperTrader.WebApi/bin/Debug/net8.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
/SuperTrader.WebApi/bin/Debug/net8.0/tr
/SuperTrader.WebApi/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
/SuperTrader.WebApi/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/SuperTrader.WebApi/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.resources.dll
/SuperTrader.WebApi/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/SuperTrader.WebApi/bin/Debug/net8.0/zh-Hans
/SuperTrader.WebApi/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
/SuperTrader.WebApi/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/SuperTrader.WebApi/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
/SuperTrader.WebApi/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
/SuperTrader.WebApi/bin/Debug/net8.0/zh-Hant
/SuperTrader.WebApi/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
/SuperTrader.WebApi/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/SuperTrader.WebApi/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
/SuperTrader.WebApi/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
/SuperTrader.WebApi/obj/Debug/net8.0/ref/SuperTrader.WebApi.dll
/SuperTrader.WebApi/obj/Debug/net8.0/refint/SuperTrader.WebApi.dll
/SuperTrader.WebApi/obj/Debug/net8.0/staticwebassets/msbuild.build.SuperTrader.WebApi.props
/SuperTrader.WebApi/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.SuperTrader.WebApi.props
/SuperTrader.WebApi/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.SuperTrader.WebApi.props
/SuperTrader.WebApi/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/SuperTrader.WebApi/obj/Debug/net8.0/apphost.exe
/SuperTrader.WebApi/obj/Debug/net8.0/staticwebassets.build.json
/SuperTrader.WebApi/obj/Debug/net8.0/SuperTra.669BB296.Up2Date
/SuperTrader.WebApi/obj/Debug/net8.0/SuperTrader.WebApi.AssemblyInfo.cs
/SuperTrader.WebApi/obj/Debug/net8.0/SuperTrader.WebApi.AssemblyInfoInputs.cache
/SuperTrader.WebApi/obj/Debug/net8.0/SuperTrader.WebApi.assets.cache
/SuperTrader.WebApi/obj/Debug/net8.0/SuperTrader.WebApi.csproj.AssemblyReference.cache
/SuperTrader.WebApi/obj/Debug/net8.0/SuperTrader.WebApi.csproj.BuildWithSkipAnalyzers
/SuperTrader.WebApi/obj/Debug/net8.0/SuperTrader.WebApi.csproj.CoreCompileInputs.cache
/SuperTrader.WebApi/obj/Debug/net8.0/SuperTrader.WebApi.csproj.FileListAbsolute.txt
/SuperTrader.WebApi/obj/Debug/net8.0/SuperTrader.WebApi.dll
/SuperTrader.WebApi/obj/Debug/net8.0/SuperTrader.WebApi.GeneratedMSBuildEditorConfig.editorconfig
/SuperTrader.WebApi/obj/Debug/net8.0/SuperTrader.WebApi.genruntimeconfig.cache
/SuperTrader.WebApi/obj/Debug/net8.0/SuperTrader.WebApi.GlobalUsings.g.cs
/SuperTrader.WebApi/obj/Debug/net8.0/SuperTrader.WebApi.MvcApplicationPartsAssemblyInfo.cache
/SuperTrader.WebApi/obj/Debug/net8.0/SuperTrader.WebApi.MvcApplicationPartsAssemblyInfo.cs
/SuperTrader.WebApi/obj/Debug/net8.0/SuperTrader.WebApi.pdb
/SuperTrader.WebApi/obj/project.assets.json
/SuperTrader.WebApi/obj/project.nuget.cache
/SuperTrader.WebApi/obj/SuperTrader.WebApi.csproj.nuget.dgspec.json
/SuperTrader.WebApi/obj/SuperTrader.WebApi.csproj.nuget.g.props
/SuperTrader.WebApi/obj/SuperTrader.WebApi.csproj.nuget.g.targets
/Data.Repository/obj/Data.Repository.csproj.nuget.dgspec.json
/Data.Repository/obj/Data.Repository.csproj.nuget.g.props
/Data.Repository/obj/Data.Repository.csproj.nuget.g.targets
/Data.Repository/obj/project.assets.json
/SuperTraderService/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/SuperTraderService/obj/Debug/net8.0/SuperTraderService.AssemblyInfo.cs
/SuperTraderService/obj/Debug/net8.0/SuperTraderService.AssemblyInfoInputs.cache
/SuperTraderService/obj/Debug/net8.0/SuperTraderService.assets.cache
/SuperTraderService/obj/Debug/net8.0/SuperTraderService.csproj.AssemblyReference.cache
/SuperTraderService/obj/Debug/net8.0/SuperTraderService.csproj.CoreCompileInputs.cache
/SuperTraderService/obj/Debug/net8.0/SuperTraderService.csproj.FileListAbsolute.txt
/SuperTraderService/obj/Debug/net8.0/SuperTraderService.GeneratedMSBuildEditorConfig.editorconfig
/SuperTraderService/obj/Debug/net8.0/SuperTraderService.GlobalUsings.g.cs
/SuperTraderService/obj/project.assets.json
/SuperTraderService/obj/project.nuget.cache
/SuperTraderService/obj/SuperTraderService.csproj.nuget.dgspec.json
/SuperTraderService/obj/SuperTraderService.csproj.nuget.g.props
/SuperTraderService/obj/SuperTraderService.csproj.nuget.g.targets
/SuperTrader.Core/.vs/SuperTrader.Core/copilot-chat/f753603d/sessions/5b2970e7-a9de-49f3-8d47-6b743c526025
/SuperTrader.Core/.vs/SuperTrader.Core/copilot-chat/f753603d/sessions/dc291464-2aa5-4681-8a8d-043c6ac4893f
/SuperTrader.Core/.vs/SuperTrader.Core/copilot-chat/f753603d/sessions/fcbfd714-b1c4-48b2-902e-c8791c1509a5
/SuperTrader.Core/.vs/SuperTrader.Core/FileContentIndex/1e56341c-172a-46ee-a7b0-28b0e883aa73.vsidx
/SuperTrader.Core/.vs/SuperTrader.Core/FileContentIndex/54cef9f3-7ab2-4d31-b625-6258a6d8f9fc.vsidx
/SuperTrader.Core/.vs/SuperTrader.Core/FileContentIndex/55549ae0-a59b-4eaf-871c-941d97ca511d.vsidx
/SuperTrader.Core/.vs/SuperTrader.Core/FileContentIndex/90cb1fc4-111b-499b-8437-2b2b8ace695f.vsidx
/SuperTrader.Core/.vs/SuperTrader.Core/FileContentIndex/a3ee4247-b032-4421-be80-c5335023e7bd.vsidx
/Data.Entities/obj/Debug/net8.0/Data.Entities.sourcelink.json
*.vsidx
/SuperTrader.Core/obj/Debug/net8.0/SuperTrader.Core.csproj.BuildWithSkipAnalyzers
/SuperTrader.Core/obj/Debug/net8.0/SuperTrader.Core.sourcelink.json
/SuperTrader.WebApi/bin/Debug/net8.0/AutoMapper.dll
/SuperTrader.WebApi/bin/Debug/net8.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
/SuperTrader.WebApi/bin/Debug/net8.0/SuperTraderService.dll
/SuperTrader.WebApi/bin/Debug/net8.0/SuperTraderService.pdb
/SuperTrader.WebApi/obj/Debug/net8.0/SuperTrader.WebApi.sourcelink.json
/.vs/slnx.sqlite
/.vs/supertrader/v17/.wsuo
/.vs/supertrader/v17/DocumentLayout.json
/.vs/VSWorkspaceState.json
/SuperTrader.Core/.vs/ProjectEvaluation/supertrader.core.metadata.v8.bin
/SuperTrader.Core/.vs/ProjectEvaluation/supertrader.core.projects.v8.bin
/SuperTrader.Core/.vs/ProjectEvaluation/supertrader.core.strings.v8.bin
/SuperTrader.Core/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/SuperTrader.Core/obj/Release/net8.0/SuperTrader.Core.AssemblyInfo.cs
/SuperTrader.Core/obj/Release/net8.0/SuperTrader.Core.AssemblyInfoInputs.cache
/SuperTrader.Core/obj/Release/net8.0/SuperTrader.Core.GeneratedMSBuildEditorConfig.editorconfig
/SuperTraderService/bin/Debug/net8.0/Data.Entities.dll
/SuperTraderService/bin/Debug/net8.0/Data.Entities.pdb
/SuperTraderService/bin/Debug/net8.0/Data.Repository.dll
/SuperTraderService/bin/Debug/net8.0/Data.Repository.pdb
/SuperTraderService/bin/Debug/net8.0/SuperTrader.Core.dll
/SuperTraderService/bin/Debug/net8.0/SuperTrader.Core.pdb
/SuperTraderService/bin/Debug/net8.0/SuperTraderService.dll
/SuperTraderService/bin/Debug/net8.0/SuperTraderService.pdb
/SuperTraderService/obj/Debug/net8.0/ref/SuperTraderService.dll
/SuperTraderService/obj/Debug/net8.0/refint/SuperTraderService.dll
/SuperTraderService/obj/Debug/net8.0/SuperTraderService.dll
/SuperTraderService/obj/Debug/net8.0/SuperTraderService.pdb
/SuperTraderService/obj/Debug/net8.0/SuperTraderService.sourcelink.json
/SuperTrader.WebApi/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/SuperTrader.WebApi/obj/Release/net8.0/SuperTrader.WebApi.AssemblyInfo.cs
/SuperTrader.WebApi/obj/Release/net8.0/SuperTrader.WebApi.AssemblyInfoInputs.cache
/SuperTrader.WebApi/obj/Release/net8.0/SuperTrader.WebApi.GeneratedMSBuildEditorConfig.editorconfig
/SuperTrader.WebApi/obj/Release/net8.0/SuperTrader.WebApi.GlobalUsings.g.cs
/Data.Repository/obj/Debug/net8.0/Data.Repository.sourcelink.json
/SuperTraderService/bin/Debug/net8.0/SuperTraderService.deps.json
/SuperTrader.Core/.vs/SuperTrader.Core/v17/HierarchyCache.v1.txt
